<div class="container">
  <h2>Category Detail</h2>
  <div *ngIf="categoryDetail?.categoryId">
    <label for="categoryId"><strong>Category ID:</strong></label>
    <input type="text" id="categoryId" [(ngModel)]="editedCategoryId" (input)="onChange()">
    <label for="categoryName"><strong>Category Name:</strong></label>
    <input type="text" id="categoryName" [(ngModel)]="editedCategoryName" (input)="onChange()">
    <label for="creationDate"><strong>Creation Date:</strong></label>
    <input type="text" id="creationDate" [(ngModel)]="editedCreationDate" (input)="onChange()">
    <p>
      <a [routerLink]="['/posts']" [queryParams]="{ categoryId: categoryDetail.categoryId, filter: true }">View Posts</a>
      <span class="post-count">(Post Count: {{ postCount }})</span>
    </p>
    <button class="save-button" (click)="saveChanges()" [disabled]="!isChanged">Save Changes</button>
    <p><strong>Changes:</strong> {{ changes }}</p>
    <p id="changeStatus"><strong>{{ saveStatus }}</strong></p>
  </div>
</div>
